<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="OpenWinPatcher" Manufacturer="NoCapScripts" Version="1.0.2"
           UpgradeCode="cbad8f5c-3a0d-4ea7-a74d-96d90498646f" Scope="perMachine">

    <MajorUpgrade DowngradeErrorMessage="A newer version of OpenWinPatcher is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="AppIcon" SourceFile=".\build\icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="OpenWinPatcher" />
    </StandardDirectory>

    <ComponentGroup Id="AppFiles" Directory="INSTALLFOLDER">
        <Files Include="$(SourceDir)\**">
            <Exclude Files="$(SourceDir)\OpenWinPatcher.exe" />
        </Files>
        <Component Id="MainExeComp" Guid="*">
            <File Id="MainExe" Source="$(SourceDir)\OpenWinPatcher.exe" KeyPath="yes" />
        </Component>
    </ComponentGroup>

    <StandardDirectory Id="ProgramMenuFolder">
      <Component Id="MenuShortcut" Guid="*">
        <Shortcut Id="MenuShortcutItem" Name="OpenWinPatcher" Icon="AppIcon"
                  Target="[INSTALLFOLDER]OpenWinPatcher.exe" WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKLM" Key="Software\OpenWinPatcher" Name="MenuShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </StandardDirectory>

    <StandardDirectory Id="DesktopFolder">
      <Component Id="DesktopShortcut" Guid="*">
        <Shortcut Id="DesktopShortcutItem" Name="OpenWinPatcher" Icon="AppIcon"
                  Target="[INSTALLFOLDER]OpenWinPatcher.exe" WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKLM" Key="Software\OpenWinPatcher" Name="DesktopShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </StandardDirectory>

    <Feature Id="Main" Title="OpenWinPatcher" Level="1">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentRef Id="MenuShortcut" />
      <ComponentRef Id="DesktopShortcut" />
    </Feature>
  </Package>
</Wix>
